streamlit
langchain==0.0.330
streamlit_chat
pandas
st-gsheets-connection
datetime
streamlit_authenticator
openai==0.28.1
audio-recorder-streamlit
SpeechRecognition
pydub
ffmpeg-python
cohere
google-generativeai
assemblyai
gtts
hume
nltk
#spacy-streamlit
language_tool_python
anthropic
playwright
beautifulsoup4
